<ion-content>
	    <ion-title class="back-arrow"><a [routerLink]="['/dashboard']"><ion-icon name="arrow-round-back"></ion-icon></a>
        <span class="title">Edit Quote</span>
    </ion-title>
  <ion-card class="login-card">

    <ion-card-content>
            <img [src]="imgRelatedUrl+selectedCategoryText+imgExtension" class="img"/>
      <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      	<ion-label>Category</ion-label>
		 <ion-list class="category-list">
		      <ion-item-sliding #item>
		        <ion-item *ngFor="let item of category; let i = index;">
		            <ion-button  expand="full" color="light"  class="btn-category"
		            (click)="selectedCategory(item)">
		            	{{item}}
		            </ion-button>
		        </ion-item>
		      </ion-item-sliding>
		  </ion-list>
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
          <ion-label>Author</ion-label>
          <ion-item>
            <ion-input required type="text" name="author" ngModel #author="ngModel"></ion-input>
          </ion-item>
          <ion-label>Description</ion-label>
          <ion-item>
            <ion-textarea required name="description"  ngModel #description="ngModel"></ion-textarea>
          </ion-item>
        </ion-list>
        <div class="ion-padding">
          <ion-button  class="custom-button" [disabled]="!form.valid" expand="block" type="submit">
            Add
          </ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
