<ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content padding>
  	<p>
      Sending a POST Request Example
  </p>
  	 <ion-button ion-button (click)="get()">get Data</ion-button>
         <ion-button ion-button (click)="post()">post Data</ion-button>
         <ion-button ion-button (click)="update()">update Data</ion-button>
                  <ion-button ion-button (click)="delete()">delete Data</ion-button>
    <ion-button (click)="logoutUser()">
      Logout
    </ion-button>
  </ion-content>
</ion-content>
