<!-- <ion-header>
  <ion-toolbar>
    <ion-title id="dashboard-title">
      <p>
        Dashboard  </p>   -->  
<!--       <ion-button (click)="logoutUser()" id="logout">
      <ion-icon shape="round" name="log-out"></ion-icon>
    </ion-button> -->
<!--       <a><img src="../../assets/avatars/user1.svg" class="img img-avatar"/>
    </a> -->
<!--     <ion-button id="logout" shape="round" color="light" (click)="logoutUser()"><ion-icon shape="round" name="log-out"></ion-icon></ion-button> -->
<!--   </ion-title>

  </ion-toolbar>
</ion-header> -->

<ion-content>
   <ion-fab id="avatar" horizontal="end" vertical="top" slot="fixed" edge>
        <ion-fab-button color="light">
          <img src="../../assets/avatars/female.svg" class="img "/>
        </ion-fab-button>
        <ion-fab-list>
          <ion-fab-button color="light" (click)="goToProfile()">
            <ion-icon name="contact"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="light" (click)="logoutUser()">
            <ion-icon name="log-out"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
  <ion-content class="ion-padding">
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button color="light" (click)="addQuote()">
          <ion-icon name="add" class="add-quote"></ion-icon>
        </ion-fab-button>
      </ion-fab>
<!--   	<p>
      Sending a POST Request Example
  </p>
  	 <ion-button ion-button (click)="get()">get Data</ion-button>
         <ion-button ion-button (click)="post()">post Data</ion-button>
         <ion-button ion-button (click)="update()">update Data</ion-button>
                  <ion-button ion-button (click)="delete()">delete Data</ion-button> -->
      <ion-card *ngFor="let item of category" (click)="editCard(item.id)">
        <img class="quote-img" src="../../assets/category/{{item.imgUrl}}" />
        <ion-card-header>
          <ion-card-subtitle>{{item.category}}</ion-card-subtitle>
          <ion-card-title>{{item.description}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          -{{item.author}}
        </ion-card-content>
      </ion-card>
  </ion-content>
</ion-content>
